<div class="addTour">
    <h1>Add Tour Company</h1>
    <form action="/addTour/add" method="post">
        <div class="input">  
            <label for="">Company Name</label>
            <input type="text" name="c_name">
        </div>
        <div class="input">  
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div class="input">  
            <label for="">Password</label>
            <input type="text" name="pass">
        </div>
        <input type="submit" value="submit" class="submit">
    </form>
</div>