<footer>
    <div class="list">
        <p>Information</p>
        <p>News</p>
        <p>About Us</p>
        <p>Investor Relations</p>
        <p>Privacy Policy</p>
        <p>Terms and Conditions</p>
    </div>
    <div class="contact">
        <div class="heading">
            <h2>CONTACT US</h2>
            <h3>1-877-344-3385</h3>
        </div>
        <div class="intern">
            <h4>Canada 1-866-793-1905</h4>
            <h4>United Kingdom 0-800-680-0420</h4>
            <h4>Mexico 01-800-727-5391</h4>
            <h4>Dominican Republic 1-888-751-9005</h4>
            <h4>United States 1-866-393-5158</h4>
        </div>
        <div class="logo">
            <img src="/uploads/dc-logo.png" alt="">
            <img src="/uploads/dd-logo.png" alt="">
        </div>
    </div>
</footer>