<header>
    <div class="logo">
        <a href="/">
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/984161599839412234/logo.png" alt="">
        </a>
    </div>
    <div class="nav">
        <a href="">Home</a>
        <a href="">Programmes</a>
        <a href="">Information</a>
        <a href="">Contact Us</a>
    </div>
    <div class="log">
        <a href="/login">Login</a>
    </div>
</header>