<div class="sidenav">
    <h3>Admin Dashboard</h3>
    <div class="divider"></div>
    <h4>Menu</h4>
    <div class="navLinks">
        <ul>
            <li>
                <a href="/tourCompany">Tour Companies</a>
            </li>
            <li>
                <a href="/addTour">Add Tour Companies</a>
            </li>
            <li>
                <a href="/program">Programs</a>
            </li>
            <li>
                <a href="/addProgram">Add Program</a>
            </li>
            <li> 
                <a href="/booking">Reservations</a> 
            </li>
            <li>
                <a href="/reservation"> Book Reservation</a>
            </li>
            <li>
                <a href="/login/logout" class="submit">Logout</a>
            </li>
        </ul>
    </div>
</div>